.playlist-card {
    width: 200px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

.playlist-card_image {
    width: 100%;
}

.playlist-card_image > img {
    width: 100%;
    object-fit: cover;
}

.playlist-card_data {
    padding: 12px;
}

.playlist-card_content {
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-shrink: 1;
    max-width: 72%;
}

.playlist-card_title {
    font-size: 1rem;
    margin-top: 4px;
}

.playlist-card_artist {
    margin-top: 4px;
}

.playlist-card_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}