.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}

.tracks {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}

.playlist-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

